.navbar {
    width:100%;
    justify-content:center;
    background-color: rgba(10, 109, 214, 0.827) !important;
}

.navbar-brand {
    font-size: 2.5rem;
}

form {
    margin-bottom:1rem;
}

.big-card {
    width:100%;
}

.city-search {
    font-size:2rem;
    font-weight:bold;
}



.fas {
    color:black;
}

#currentDay {
    font-weight:bold;
}

.btn-success, .btn-warning, .btn-danger {
    border-radius:4px;
    margin-left:4px;
    padding-right:5px;
    padding-bottom:2px;
    padding-left:4px;
}


.card-header {
    font-size: .9rem;
}


.list-group {
    margin-bottom: 20px;
}

/* testing purposes */

/* .five-day-forecast {
    background-color:red;

} */

/* .forecasted-days {
    background-color: yellow;
    outline: 1px solid red;   
} */


