.navbar {
    justify-content:center;
    background-color: rgba(10, 109, 214, 0.827) !important;
}

.navbar-brand {
    font-size: 2.5rem;
}

form {
    margin-bottom:1rem;
}


.city-search {
    font-size:2rem;
    font-weight:bold;
}



.card-deck p {
    font-size: 0.8em
}


.card-title {
    font-size: 15px;
}

#currentDay {
    font-weight:bold;
}

.btn-success, .btn-warning, .btn-danger {
    border-radius:4px;
    margin-left:4px;
    padding-right:5px;
    padding-bottom:2px;
    padding-left:4px;
}

.list-group {
    margin-bottom: 20px;
}



@media screen and (max-width: 768px) {
    .navbar-brand {
        font-size: 2rem;
    }
}


@media screen and (max-width: 576px) {
    .card-title {
        font-size: 1.2em;
    }
    .card-deck p {
        font-size: 1.2em
    }
}
